/* Обнуляющий стиль */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}

li {
   list-style: none;
}

a {
   color: inherit;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

body,
html {
   height: 100%;
}


html {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
}

body {
   line-height: 1;
   overflow-x: hidden;
   background-color: #F5F5F5;
}

/* Подключение шрифтов */
/* ======================================================================================== */
@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

[class*="__container"] {
   max-width: 1020px;
   margin: 0px auto;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.header {
   margin: 26px 0px 0px 0px;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 30;

   // .header__container
   &__container {}
}

// <!-- Верхнее подменю -->
.top-menu {
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   margin: 0px 0px 26px 0px;

   // .top-menu__logo-box

   &__logo-box {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
   }

   // .top-menu__logo

   &__logo {
      fill: #C40B0B;
   }

   // .top-menu__logo-string

   &__logo-string {
      font-size: 36px;
      line-height: 42px;
      margin: 0px 0px 0px 10px;
      font-weight: 900;
      color: #fff;
   }

   // .top-menu__servise-hours

   &__servise-hours {
      margin: 0px 30px 0px 0px;
      align-self: flex-start;
      display: flex;
   }

   // .top-menu__clock

   &__clock {
      background: url('../img/header/time_24px.svg') 0 2px no-repeat;
      height: 24px;
      width: 24px;
      margin: 0px 10px 0px 0px;

   }

   // .top-menu__text

   &__text {
      font-weight: 700;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.15px;
      color: #fff;

      & a:hover {
         text-decoration: underline;
      }
   }



   // .top-menu__call-us

   &__call-us {
      margin: 0px 30px 0px 0px;
      align-self: flex-start;
      display: flex;
   }

   // .top-menu__phone

   &__phone {
      background: url('../img/header/phone_24px.svg') 0 2px no-repeat;
      height: 24px;
      width: 24px;
      margin: 0px 10px 0px 0px;
   }

}

.button {
   background-color: #C40B0B;
   min-height: 48px;
   flex: 0 1 211px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
   z-index: 2;
   text-transform: uppercase;

   &:hover {
      background-color: #E30B0B;
      transition: 0.3s;
      outline: 1px solid #02133C;
   }

   // .button__name

   &__name {
      color: #fff;
      flex: 0 0 168px;
      text-align: center;
      text-transform: uppercase;
   }

   // .button__arrow

   &__arrow {
      color: #fff;
      flex: 0 0 43px;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
         position: absolute;
         z-index: 5;
      }

      &::before {
         content: "";
         width: 48px;
         height: 100px;
         background-color: #E30B0B;
         display: block;
         position: absolute;
         top: -10px;
         right: 0;
         transform: rotateZ(25deg);
         z-index: 2;
      }
   }
}

.header {

   // .header__menu

   &__menu {
      min-height: 60px;
      background-color: #fff;
   }
}

// <!-- Меню навигации -->
.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   // .menu__list

   &__list {
      display: flex;
      margin: 0px 0px 0px 37px;
   }

   // .menu__item

   &__item {
      &:not(:last-child) {
         margin: 0px 37px 0px 0px;
      }
   }

   // .menu__link

   &__link {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.15px;
      color: #02133C;

      &:hover {
         opacity: 0.7;
         text-decoration: underline;
      }
   }

   // .menu__magnifier

   &__magnifier {
      background: url('../img/header/magnifier_24px.svg') 0 0 no-repeat;
      width: 24px;
      height: 24px;
      margin: 0px 37px 0px 0px;
   }
}

.main {
   flex: 1 1 auto;
}



// <!-- Первый блок страницы, с главным заголовком -->
.any-repair {

   // background: url('../img/bg_images/Heroshot_1.png') center / cover no-repeat;

   &__bgd {
      position: relative;
      z-index: 1;
      padding: 0px 0px 55.555% 0px;

      & img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         z-index: 1;
         object-fit: cover;
         object-position: right;
      }
   }

   // .any-repair__container

   &__container {
      // padding: 280px 0px 312px 0px;
      position: relative;

   }

   // .any-repair__title

   &__title {
      font-weight: 900;
      font-size: 56px;
      line-height: 1;
      color: #fff;
      margin: 0px 0px 48px 0px;
      position: absolute;
      top: 280px;
      left: 0;
      z-index: 10;
   }

   // .any-repair__button

   &__button {
      max-width: 211px;
      display: none;
   }

   // .any-repair__bottom-arrow

   &__bottom-arrow {
      width: 40px;
      height: 100px;
      position: absolute;
      bottom: 80px;
      left: 50%;
      z-index: 20;
   }

   &__bottom-arrow span {
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #F5F5F5;
      border-right: 5px solid #F5F5F5;
      transform: rotate(45deg);
      margin: -16px 0;
      animation: arrows 2s infinite;
   }

   &__bottom-arrow span:nth-child(2) {
      animation-delay: -0.2s;
   }

   &__bottom-arrow span:nth-child(3) {
      animation-delay: -0.4s;
   }

   @keyframes arrows {
      0% {
         opacity: 0;
         transform: translate(0, -20px) rotate(45deg);
      }

      50% {
         opacity: 1;
      }

      100% {
         opacity: 0;
         transform: translate(0, 20px) rotate(45deg);
      }
   }

}

// подзаголовки страниц
.subtitle {
   font-weight: 700;
   font-size: 12px;
   line-height: 200%;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #4B4B4B;

   &::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 16px;
      margin: 0px 16px 0px 0px;
      vertical-align: -4px;
      background: url('../img/about_us/Overline\ Mark.svg') center center no-repeat;
   }
}

// заголовки страниц
.title {
   font-weight: 900;
   font-size: 36px;
   line-height: 117%;
   color: #02133C;
   margin: 33px 0px 0px 0px;
}

// <!-- Нависающий блок - о нас -->
.about-us {

   // .about-us__container

   &__container {
      padding: 0px 0px 120px 0px;
      position: relative;
      z-index: 10;
   }

   &__bg {
      position: absolute;
      right: 0;
   }

   // .about-us__body

   &__body {
      margin: -80px 0px 0px 0px;
      background-color: #fff;
      max-height: 700px;
   }

   // .about-us__content

   &__content {
      padding: 100px 0px 0px 0px;
      margin: 0px 0px 54px 87px;
      max-width: 846px;
   }


   &__text {
      line-height: 150%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      margin: 36px 0px 0px 0px;
   }

   // .about-us__image-box

   &__image-box {
      max-width: 846px;
      margin: 0 auto;
   }

   // .about-us__picture

   &__picture {
      position: relative;
      padding: 0px 0px 49.645% 0px;

      img {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         object-fit: cover;

      }
   }
}

// <!-- Блок гарантии  -->
.promise {
   padding: 110px 0px 0px 0px;

   // .promise__container

   &__container {}

   // .promise__subtitle

   &__subtitle {
      margin-bottom: 33px;
   }

   // .promise__title

   &__title {
      margin: 0px 0px 68px 0px;
   }

   // .promise__content

   &__content {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
      margin-bottom: 122px;
   }

   // .promise__item

   &__item {
      flex: 0 1 33.333%;
      display: flex;
      column-gap: 23px;
   }

   // .promise__logo

   &__logo {}

   // .promise__mini-title
   &__box {}

   &__mini-title {
      font-weight: 900;
      font-size: 19px;
      line-height: 137%;
      color: #02133C;
      margin-bottom: 20px;
   }

   // .promise__text

   &__text {
      line-height: 150%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
   }
}

.full-screen {

   // .full-screen__bgd

   &__bgd {
      position: relative;
      padding: 0px 0px 34.7% 0px;
      z-index: 1;

      img {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         object-fit: cover;
         z-index: 1;
      }
   }

   // .full-screen__container

   &__container {
      position: relative;
      z-index: 9;
   }

   // .full-screen__content

   &__content {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      right: 0;
      margin-top: 7.777%;

   }

   // .full-screen__title

   &__title {
      color: #fff;
      max-width: 411px;
      margin: 0;
   }

   // .full-screen__box

   &__box {
      flex: 0 1 auto;

   }

   // .full-screen__play-btn

   &__play-btn {
      position: relative;
      display: inline-block;
   }
}

.triangle {
   width: 0;
   height: 0;
   border-top: 14px solid transparent;
   border-left: 22px solid #C40B0B;
   border-bottom: 14px solid transparent;
   position: absolute;
   top: 55px;
   left: 62px;
   z-index: 5;

   &:hover+.round-S {
      outline: 13px solid rgba(255, 255, 255, 0.2);
      transition: ease 0.5s;
   }
}

.round-S {
   width: 85.6px;
   height: 85.6px;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   top: 27px;
   left: 27px;
   z-index: 4;

   &:hover {
      outline: 13px solid rgba(255, 255, 255, 0.2);
      transition: ease 0.5s;
   }

   &:hover>.round-M {
      visibility: visible;

   }
}

.round-M {
   width: 140px;
   height: 140px;
   display: block;
   background-color: #FFFFFF;
   opacity: 0.12;
   border-radius: 50%;
   position: absolute;
   z-index: 4;
   top: -27px;
   left: -27px;
   visibility: hidden;
   transition: 1.5s;
}


// блок с карточками 
.servises {
   padding: 110px 0px 0px 0px;
   // .servises__container
   // .servises__bg

   &__bg {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
   }

   &__container {
      position: relative;
      z-index: 10;
   }

   // .servises__subtitle

   &__subtitle {
      margin: 0px 0px 33px 0px;

   }

   // .servises__title

   &__title {
      margin: 0px 0px 78px 0px;
      max-width: 600px;
   }

   // .servises__content

   &__content {}

   // .servises__cards-block

   &__cards-block {
      display: flex;
      flex-wrap: wrap;
      row-gap: 24px;
      column-gap: 24px;
      margin: 0px 0px 66px 0px;
   }

   // .servises__btn-box
   &__btn-box {
      margin: 0px 0px 122px 0px;
   }

   // .servises__button

   &__button {
      max-width: 211px;
      margin: 0 auto;
   }
}

.top {
   position: absolute;
   top: -110px;
   left: 0;
   transform: rotateY(180deg);
}

.bottom {
   position: absolute;
   right: 0;
   bottom: -122px;
   transform: rotateX(180deg);
}

.card {
   flex: 0 1 324px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 45px;
   background-color: #fff;


   &:hover {
      filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
      transition: 0.5s;
   }

   // .card__picture-box
   &__picture-box {
      margin: 0px 0px 33px 0px;
   }

   // .card__image

   &__image {
      max-width: 100%;
   }

   // .card__title

   &__title {
      font-weight: 900;
      font-size: 19px;
      line-height: 137%;
      text-align: center;
      color: #02133C;
      margin: 0px 0px 20px 0px;

   }

   // .card__text

   &__text {
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.15px;
      color: #4B4B4B;
   }
}

.customers {
   background-color: #02133C;
   // .customers__bg

   &__bg {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
   }

   // .customers__top

   &__top {
      position: absolute;
      top: 0;
      right: 0;

   }

   // .customers__bottom

   &__bottom {
      position: absolute;
      bottom: 80px;
      left: 0;
      transform: rotateX(180deg);

   }


   // .customers__container

   &__container {
      position: relative;
      z-index: 10;
   }

   // .customers__content

   &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 130px 0px 210px 0px;
   }

   // .customers__bisness-card

   &__bisness-card {
      background-color: #fff;
      padding: 50px 50px;
      display: inline-block;
   }

   // .customers__logo

   &__logo {
      display: flex;
      justify-content: center;
      margin: 0px 0px 50px 0px;
      column-gap: 10px;

      & span {
         font-size: 40px;
         font-weight: 900;
         color: #02133C;
         letter-spacing: 0.15px;
      }
   }

   // .customers__contacts

   &__contacts {
      margin-bottom: 30px;

      & li:last-child {
         margin: 0px;
      }
   }

   // .customers__item

   &__item {
      font-weight: 700;
      font-size: 18px;
      line-height: 143%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      margin-bottom: 30px;
      padding: 0px 0px 0px 25px;
      max-width: 300px;
      background: url('../img/about_us/Overline\ Mark.svg') 0 -2px no-repeat;
   }

   // .customers__link
   &__link {
      &:hover {
         text-decoration: underline;
      }
   }

   // .customers__media-icons

   &__media-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      border-top: 1px solid #02133C;
      padding: 20px;

      & svg:hover {
         opacity: 0.7;
      }
   }

   // .customers__statistic

   &__statistic {
      display: flex;
      flex-direction: column;
      row-gap: 46px;
      align-self: center;
   }

   // .customers__subtitle

   &__subtitle {
      font-weight: 900;
      font-size: 30px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
      max-width: 320px;
   }

   // .customers__quantity

   &__quantity {
      font-weight: 900;
      font-size: 96px;
      line-height: 58%;
      text-align: center;
      color: #C40B0B;
   }

   &__text {
      font-weight: 900;
      font-size: 19px;
      line-height: 137%;
      text-align: center;
      color: #FFFFFF;
   }
}


.gallery {
   padding: 0px 0px 230px 0px;
   position: relative;
   z-index: 1;

   // .gallery__container
   &__bg {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      transform: rotateX(180deg);
   }

   &__container {
      background-color: #fff;
      position: relative;
      z-index: 5;
   }

   // .gallery__content

   &__content {
      margin: -80px 0px 0px 0px;
      padding: 0px 87px;
   }

   // .gallery__subtitle

   &__subtitle {
      padding: 100px 0px 0px 0px;
   }

   // .gallery__title

   &__title {}

   // .gallery__submenu

   &__submenu {
      margin: 55px 0px -70px 0px;
   }


   // .gallery__sliders

   &__sliders {}

   // .gallery__slider

   &__slider {
      position: relative;
      overflow: hidden;
      bottom: -120px;
      left: 0;
      z-index: 10;
      display: none;
   }



   &__slider-wrapper {}

   // .gallery__left

   &__left {
      background: url('../img/gallery/arrow_outlined.svg') 0 0 no-repeat;
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 10;
      cursor: pointer;
      // opacity: 0.6;
   }

   // .gallery__picture

   &__picture {
      position: relative;
      padding: 0px 0px 56.7375% 0px;
      z-index: 5;

      & img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 5;

      }
   }

   // .gallery__right

   &__right {
      background: url('../img/gallery/arrow_outlined.svg') 0 0 no-repeat;
      width: 36px;
      height: 36px;
      transform: rotate(180deg);
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 10;
      cursor: pointer;
      // opacity: 0.6;
   }


   &__pagination {}
}


.submenu {
   display: flex;
   // .submenu__item

   &__item {
      flex: 0 1 25%;
      text-align: center;
      padding: 0px 0px 15px 0px;
      border-bottom: 1px solid #D5D5D5;
      color: #02133C;
      line-height: 150%;
      letter-spacing: 0.15px;
      cursor: pointer;
   }

}

.active {
   font-weight: 500;
   color: #C40B0B;
   border-bottom: 4px solid #C40B0B;
   margin: 0px 0px -2px 0px;
}

.on {
   display: block;
}

.feedback {
   padding: 0px 0px 200px 0px;

   // .feedback__container

   &__container {
      display: flex;
      column-gap: 24px;
      // flex-wrap: wrap;

   }

   // .feedback__header

   &__header {
      flex: 0 1 33.333%;
   }

   // .feedback__subtitle

   &__subtitle {}

   // .feedback__title

   &__title {}

   // .feedback__content

   &__content {
      flex: 0 1 66.666%;
      min-width: 0;
      overflow: hidden;
      position: relative;
      z-index: 1;

      .swiper-button-next {
         width: 20px;
         height: 20px;
         color: #C40B0B;
      }

      .swiper-pagination-bullet {
         width: 10px;
         height: 10px;
         font-size: 16px;
         background-color: #02133C;
      }
   }

   // .feedback__wrapper

   &__wrapper {
      display: flex;

   }

   // .feedback__card

   &__card {}

   // .feedback__prev

   &__prev {
      width: 30px;
      height: 30px;
      transform: rotate(180deg);
      background: url('../img/feedback/arrows/keyboard_arrow_right_24px_outlined.svg') center center no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      cursor: pointer;
      z-index: 10;
   }


   // .feedback__next

   &__next {
      width: 30px;
      height: 30px;
      background: url('../img/feedback/arrows/keyboard_arrow_right_24px_outlined.svg') center center no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      cursor: pointer;
      z-index: 10;
   }
}

.card-feedback {
   display: flex;
   flex-direction: column;
   row-gap: 18px;
   // flex: 0 1 50%;
   min-width: 324px;
   padding: 45px 43px;
   background-color: #fff;
   // .card-feedback__text

   &__text {
      line-height: 150%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      flex: 1 1 auto;
   }

   // .card-feedback__person-container

   &__person-container {
      display: flex;
      align-items: center;
      // justify-content: center;
      column-gap: 17px;
   }

   // .card-feedback__avatar

   &__avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;

      & img {
         vertical-align: middle;
         max-width: 100%;

      }

   }

   // .card-feedback__name

   &__name {
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.15px;
      color: #02133C;
   }
}






.swiper-slide {}













.statistics {
   background-color: #02133C;
   position: relative;
   // padding: 110px 0px 0px 0px;
   // margin: 200px 0px 0px 0px;

   // .statistics__overlay
   &__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url('../img/statistics/background_image.png') center / cover no-repeat;
   }

   // .statistics__container

   &__container {
      position: relative;
   }

   // .statistics__content

   &__content {
      padding: 110px 0px 0px 0px;
   }

   // .statistics__subtitle

   &__subtitle {
      color: #fff;
      margin: 0px 0px 32px 0px;
   }

   // .statistics__title

   &__title {
      color: #fff;
      max-width: 450px;
      margin: 0px 0px 80px 0px;
   }

   // .statistics__image-container

   &__image-container {
      position: absolute;
      right: 0;
      top: -80px;
      z-index: 10;
   }

}

.row {
   display: flex;
   column-gap: 24px;
   padding: 0px 0px 210px 0px;

   // .row__item

   &__item {
      flex: 0 1 25%;
      display: flex;
   }

   // .row__image

   &__image {
      margin: 0px 12px 0px 0px;
   }

   // .row__info

   &__info {
      display: flex;
      flex-direction: column;
      row-gap: 3px;
   }

   // .row__count

   &__count {
      font-weight: 900;
      font-size: 36px;
      line-height: 117%;
      color: #C40B0B;
   }

   // .row__text

   &__text {
      line-height: 150%;
      letter-spacing: 0.15px;
      color: #F5F5F5;
   }
}



.smallest {
   margin-top: -75px;
   position: relative;
   z-index: 5;
   // .smallest__container

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 45px 70px;

   }

   // .smallest__title

   &__title {
      max-width: 580px;
      font-weight: 900;
      font-size: 24px;
      line-height: 125%;
      color: #02133C;
   }

   // .smallest__button

   &__button {
      max-width: 211px;
   }
}

.footer {
   margin-top: 80px;

   // .footer__container

   &__container {
      display: flex;
      padding: 0px 0px 100px 0px;
   }

   // .footer__sotial

   &__sotial {
      flex: 0 1 40%;
   }

   // .footer__logo

   &__logo {


      svg {
         vertical-align: text-bottom;
      }

      margin: 0px 0px 13px 0px;
   }

   // .footer__text

   &__text {
      margin: 0px 0px 33px 0px;
      max-width: 350px;
      text-align: justify;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
   }

   // .footer__media-icons

   &__media-icons {
      display: flex;
      align-items: center;
      gap: 18px;

      & svg:hover {
         opacity: 0.7;
      }
   }

   // .footer__menu

   &__menu {
      flex: 0 1 20%;
      padding: 0px 0px 0px 15px;
   }

   // .footer__subtitle

   &__subtitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      margin-bottom: 28px;
      text-transform: uppercase;
   }

   // .footer__list

   &__list {}

   // .footer__item

   &__item {
      font-weight: 700;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.15px;
      color: #4B4B4B;

      &:not(:last-child) {
         margin: 0px 0px 12px 0px;
      }
   }

   // .footer__link

   &__link {
      &:hover {
         opacity: 0.5;
      }
   }

   // .footer__schedule

   &__schedule {
      flex: 0 1 20%;
      padding: 0px 0px 0px 15px;
   }

   // .footer__info

   &__info {
      flex: 0 1 20%;
   }
}

.king-mechanic {
   font-size: 26px;
   color: #02133C;
   font-weight: 900;
   line-height: 150%;
   display: inline-block;
   margin: 0px 0px 0px 5px;
}

.work-days {

   // .work-days__item

   &__item {
      font-weight: 700;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: 0.15px;
      color: #4B4B4B;

      &:not(:last-child) {
         margin: 0px 0px 12px 0px;
      }
   }
}

.contacts {

   & li:not(:last-child) {
      margin: 0px 0px 16px 0px;
   }

   :hover {
      text-decoration: underline;
   }

   // .contacts__place

   &__place {
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      background: url('../img/footer/place_24px.svg') 0 2px no-repeat;
      padding: 0px 0px 0px 34px;
   }

   // .contacts__phone

   &__phone {
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      background: url('../img/footer/smartphone_24px.svg') 0 2px no-repeat;
      padding: 0px 0px 0px 34px;
   }

   // .contacts__email

   &__email {
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.15px;
      color: #4B4B4B;
      background: url('../img/footer/email_24px.svg') 0 2px no-repeat;
      padding: 0px 0px 0px 34px;
   }
}

.copyright {
   background-color: #02133C;
   padding: 21px 0px;
   display: flex;
   justify-content: space-around;
   // .copyright__left-part

   &__left-part {
      font-size: 12px;
      line-height: 150%;
      text-align: left;
      letter-spacing: 0.15px;
      color: #959595;

   }

   // .copyright__right-part

   &__right-part {
      font-size: 12px;
      line-height: 150%;
      text-align: right;
      letter-spacing: 0.15px;
      color: #959595;

   }
}